.checkmark {
  height: 2ch;
  width: 2ch;
  margin: 2px;
  grid-column: 1 / span 1;
}
.checkmark:checked:before {
  visibility: visible;
  top: -0.375ch;
  left: 0.125ch;
  font-size: 2ch;
  color: darkred;
  content: '✓';
  font-weight: bold;
  display: block;
  position: absolute;
}
