#options {
  display: grid;
  column-gap: 0.5ch;
  row-gap: 2ch;
  grid-template-columns: repeat(3, max-content);
}

#options label,
body > span {
  color: red;
}

#options input {
  pointer-events: all;
  position: relative;
  cursor: url('../../assets/icons/cursor/click.svg') 8 8, pointer;
}

#options input:before {
  content: '';
  position: absolute;
}

.checkmark,
#options input[type='checkbox']:focus,
#options input[type='radio']:focus,
fieldset:has(input:focus) label {
  outline: 2px solid red;
  border-radius: 1ch;
}
