input[type='range'] {
  height: 1ch;
  border-radius: 0.5ch;
  background: red;
}
input[type='range']:focus {
  outline: 2px solid darkred;
}
input[type='range']:before {
  left: calc(50% - 0.125ch);
  top: -1ch;
  width: 0.25ch;
  border-radius: 0.125ch;
  height: 3ch;
  background: red;
}

input[type='range']::-webkit-slider-thumb {
  position: relative;
  appearance: none;
  width: 2ch;
  height: 2ch;
  border-radius: 50%;
  background: red;
  cursor: url('../../assets/icons/cursor/move-horizontal.svg') 16 16, ew-resize;
}
input[type='range']::-moz-range-thumb {
  position: relative;
  appearance: none;
  width: 2ch;
  height: 2ch;
  border-radius: 50%;
  background: red;
  cursor: url('../../assets/icons/cursor/move-horizontal.svg') 16 16, ew-resize;
}
