/* Symbols */

.symbol:not(:focus) {
  outline: none;
}
.symbol:before {
  top: 0;
  left: 0;
  content: '';
  background-size: calc(2ch + 4px) calc(2ch + 4px);
  position: absolute;
}
.symbol,
.symbol:before {
  width: calc(2ch + 4px);
  height: calc(2ch + 4px);
  display: block;
}

/* Eye */

#eye:checked:before {
  background-image: url('../../assets/icons/eye/open.svg');
}

#eye:not(:checked):before {
  background-image: url('../../assets/icons/eye/closed.svg');
}
#options > * {
  visibility: hidden;
}
#options:has(#eye:checked) > * {
  visibility: visible;
}

/* Eye and Checkmark */

#eye,
#eye:not(:checked):before,
.checkmark,
.checkmark:checked::before {
  visibility: visible;
  grid-column: 1 / span 1;
}

/* Checkmark */

.checkmark:checked:before {
  background-image: url('../../assets/icons/check.svg');
}

/* Fullscreen */

#fullscreen {
  grid-column: unset;
}
#fullscreen:checked:before {
  background-image: url('../../assets/icons/fullscreen/leave.svg');
}

#fullscreen:not(:checked):before {
  background-image: url('../../assets/icons/fullscreen/enter.svg');
}
