#timeline {
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(3, auto);
  height: max-content;
  margin-left: auto;
}
#timeline > input {
  margin: 0;
  background-color: darkred;
  height: 4ch;
}
#timeline .toggle {
  --time: 0;
  width: 4ch;
}
#timeline input[name='edit'] {
  width: 2ch;
  cursor: url('../../assets/icons/cursor/click.svg') 8 8, pointer;
}
#timeline > .toggle:checked:before {
  top: calc((100% - 3px) * var(--time) / 360);
  left: 2ch;
  width: 4ch;
  height: 3px;
  background: red;
  border-radius: 3px;
}
#timeline > input[name='edit']:checked {
  background: red;
  cursor: url('../../assets/icons/cursor/default.svg'), default;
}
#timeline input:first-of-type {
  border-top-left-radius: 1ch;
}
#timeline input:nth-of-type(2) {
  border-top-right-radius: 1ch;
}
#timeline input:nth-of-type(27) {
  border-bottom-left-radius: 1ch;
}
#timeline input:last-of-type {
  border-bottom-right-radius: 1ch;
}
