legend {
  color: rgba(0, 0, 0, 0);
}
fieldset label {
  pointer-events: all;
  position: absolute;
  color: red;
  font-weight: bold;
  rotate: calc(-1 * (var(--rot) + var(--offset) + 180deg));
  width: 2ch;
  height: 2ch;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 7ch;
  left: -1ch;
  top: -1ch;
  cursor: url('../assets/icons/cursor/click.svg') 8 8, pointer;
}
fieldset {
  position: absolute;
  border: none;
  width: min(100%, calc(100vh - 20px));
  aspect-ratio: 1 / 1;
  height: auto;
  margin: 0;
  padding: 0;

  > div {
    position: absolute;
    top: 50%;
    left: var(--circle-distance);
    width: calc(100% - var(--circle-distance) * 2);
    height: 0;
    rotate: calc(var(--rot) + var(--offset) + 180deg);
  }
}

#digits-h {
  --circle-distance: 17.5ch;
}

#digits-min {
  --circle-distance: 7ch;
}

fieldset > div:nth-child(2) {
  --rot: 0deg;
}
fieldset > div:nth-child(3) {
  --rot: 30deg;
}
fieldset > div:nth-child(4) {
  --rot: 60deg;
}
fieldset > div:nth-child(5) {
  --rot: 90deg;
}
fieldset > div:nth-child(6) {
  --rot: 120deg;
}
fieldset > div:nth-child(7) {
  --rot: 150deg;
}
fieldset > div:nth-child(8) {
  --rot: 180deg;
}
fieldset > div:nth-child(9) {
  --rot: 210deg;
}
fieldset > div:nth-child(10) {
  --rot: 240deg;
}
fieldset > div:nth-child(11) {
  --rot: 270deg;
}
fieldset > div:nth-child(12) {
  --rot: 300deg;
}
fieldset > div:nth-child(13) {
  --rot: 330deg;
}
