#hands > div {
  position: absolute;
  background: red;
}
#target-min,
#target-h,
#minutes,
#hours {
  height: calc(var(--size) * 2);
  top: calc(50% - var(--size));
  left: calc(50% - var(--size));
  transform-origin: var(--size) var(--size);
  border-radius: var(--size);
}
#target-min,
#target-h {
  z-index: -1;
  pointer-events: all;
  background: darkred;
  rotate: unset;
  transform: rotate(calc(var(--offset) + var(--rot)));
  cursor: url('../assets/icons/cursor/rotate.svg') 16 16, grab;
}
#minutes,
#target-min {
  --size: 0.8ch;
  width: 49.2ch;
}
#hours,
#target-h {
  --size: 1.2ch;
  width: 39.6ch;
}
