@font-face {
  font-family: 'sevensegment';
  src: url('../assets/Seven\ Segment.ttf') format('truetype');
}
:root {
  cursor: url('../assets/icons/cursor/default.svg'), default;
}
body {
  pointer-events: none;
  font-family: 'sevensegment';
  user-select: none;
  background-color: black;
}
form[name='clock'] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 52ch;
  height: 52ch;
}

/* Error message and framerate */
body > span {
  position: absolute;
  bottom: 1ch;
  left: 1ch;
}

#middle {
  position: absolute;
  left: 50%;
  top: 50%;
}

input {
  appearance: none;
}
